.List-Wrapper {
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 40%;
  border: 1px solid #EEEEEE;
  margin: 12px;
}

.List-Image {
  height: 100px;
  width: 100%;
}

.List-Type-Image {
  height: 12px;
  width: 12px;
  margin-right: 4px;
}

.List-Name {
  font-size: 1rem;
  margin: 4px;
  color: #333333;
}

.List-Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.List-Input-Container {
  background: #EEEEEE;
  width: 20%;
  height: 150px;
}

.List-Input-Item {
  margin: 16px;
  width: 1.2rem;
  height: 1.2rem;
}

.List-Eta {
  font-size: 0.6rem;
  margin: 4px;
  color: #CCCCCC;
  font-style: italic;
  text-align: left;
}

.List-Qty {
  font-size: 0.6rem;
  margin: 4px;
  color: #CCCCCC;
}