.Wrapper {
  background-image: linear-gradient(135deg, #f2f6fc 0%, #FFFFFF 100%);
  font-family: Arial, Helvetica, sans-serif;
  color: #282c3f;
  padding: 24px;
  margin-left: -8px !important;
  margin-top: -8px !important;
  font-size: 1.4rem;
  font-weight: 500;
  width: 100%;
  height: 100vh;
}

.Form-Container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 6rem auto;
  background-image: linear-gradient(135deg, #f2f6fc 0%, #FFFFFF 100%);
  padding: 36px;
}

.Form-title {
  font-size: 1rem;
  font-weight: 400;
  color: #e46d47;
  text-align: center;
}